<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My BodaBanja App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h2 style="text-align: center;">Login Form</h2>
        <div class="form-group">
            <form action="/login" method="POST">
                <ul style="list-style: none;">
                    <li><label for="lemail">Email:</label></li>
                    <li><input class="form-control" type="text" name="email" id="email" placeholder="Enter Your Email"/></li>
                    <li><label name="password" for="password">Password:</label></li>
                    <li><input class="form-control" name="password" type="password" /></li><br>
                    <input class="form-control btn btn-primary" type="submit" value="Login"></input> 
                </ul>
            </form>

            <a href="/register">Register</a>
        </div>
    </div>
</body>
</html>